@font-face{
	font-family: haymaker;
	src: url(Haymaker.ttf);
}

body{
	margin:auto;
	width:100%;
}


body::before {
	display:none;
}

.main{
	width:100%;
}


footer{
	background-color: rgb(203, 203, 203);
	height: 25px;
	width: 100%;
	font-size: 10px;
	display: table;
	text-align: center;
}

footer p{
	display: table-cell;
	vertical-align: middle;
	color:rgb(90, 90, 90);
}


/* Top right icons */

.icon-action{
	top: 35px;
	position: absolute;
}


.resume-on{
	left: 7px;
}

.mail-on{
	left: 79px;
}

.linkedin-on{
	left: 148px;
}


.icons{
	height:100%;
}







.intro{
	background-color: #B8CFC7;
	height:340px;
	/*min-width: 1050px;*/
	position: relative;
	background-image: url(../images/logo-new.png);
	background-repeat: no-repeat;
	background-position: 50% 65%;
	background-size: 500px;
	margin-bottom: 30px;
}


.intro-text{
	text-align: center;
	color: black;
	font-size: 55px;
	padding-top: 150px;
	font-family: Haymaker, sans-serif;
	font-weight: 300;
	width: 100%;
	margin: auto;
	/* float: left; */
	line-height: 40px;


}




.icons{
	right: 0px;
	position: absolute;
	height: 50px;
	top: 20px;
	
}

.icons img{
	width: 30px;
}

.icons ul{
	width: 250px;
	margin:0;
}

.icons ul li{
	display: inline-block;
	width: 65px;
	height: 50px;
}

img.icon-action{
	width: 90px;
	height: 75px;
	display: none;
}


.icon-still{
	text-decoration: none;
}


.icons a:hover{
	text-decoration: none;
}


section.gallery.container{
	margin-bottom: 30px;
}




/*shuffle categories*/


.row{
	/*min-width: 1050px;*/
	width:505px;
	margin: auto;
	height: 30px;
}

#shuffle-cat ul{
	list-style: none;
}

#shuffle-cat ul li{
	display:inline-block;
}


.filter-opt{
	float:left;
	padding-right: 15px;
	padding-left:15px;
	font-size: 13px;
	border-right: rgb(166, 165, 165) 1px solid;
	cursor: pointer;
	color: rgb(190, 190, 190);
}

.filter-opt:hover{
	color:black;
}

.first{
	padding-left: 0;
}

.last{
	border:none;
	padding-right: 0px;
}

.span6{
	width:100%;
	margin-left: 0;
}









@media (max-width: 50em){

.container {
	width:650px;
}

img{
	width:100%;
}

.span3{
	width:100%;
}

}






@media (max-width: 40em){

.container {
	width:400px;
}

img{
	width:100%;
}

.span3{
	width:100%;
}

.filter-opt{
	font-size:10px;
}

.row{
	width: 380px;
	height: 43px;
}

.last{
	line-height: 31px;
	padding-left: 0;
}

}





.shape:hover .hoverbox{
	opacity: 1;
}

.shape:hover .hovercontent{
	color:white;
	opacity: 1.7;
}

.hoverbox{
	opacity:0;
	width:100%;
	height:100%;
	background:rgba(34, 34, 34, 0.9);
	position:absolute;
	-webkit-transition: opacity .2s ease-out;
}

.hovercontent{
	text-align: center;
	margin-top: 35%;
	font-size: 90%;
	-webkit-transition: all .2s ease-out;
	color: rgba(255, 255, 255, 0.71);
	opacity: 0;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	padding: 8px;
	letter-spacing: 2px;
	line-height: 18px;
}


.type{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70%;
	font-weight: 100;
}