@font-face{
	font-family: haymaker;
	src: url(Haymaker.ttf);
}

body{
	margin:auto;
	width:100%;
}




[class*='col-'] {
}

.navbar{
	position:fixed;
	top:0;
	left:0;
	z-index: 1000;
	width: 150px;
  	background-color:#f5ebde;
  	height:100%;
  	display:none;
}





.icon-action{
	top: -90px;
	position: absolute;
}


.resume-on{
	left: 8px;
}

.mail-on{
	left: 74px;
}

.linkedin-on{
	left: 137px;
}


.navbar ul{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0;
	padding: 30px;
	margin-bottom: 10%;


}

.navigation-info ul li{
	display:block;
	padding: 30%;
}

.contact-info ul li{
	padding:15%;
	display:block;
}

.logo{
	text-align: center;
	border-bottom: rgb(68, 68, 68) solid;
	padding: 20px 0 20px 0;
}

.navigation-info{
	list-style: none;
	position: relative;
	text-align: center;
}



.contact-info{
	border-top: 1px solid black;
	list-style: none;
	position: relative;
	text-align: center;
}


.icons{
	height:100%;
}


.main-slider,.main-image{
	width:620px;
	height:346px;
	background-color: #777777;
	margin:auto;
	margin-bottom: 16px;
	background-image: url(images/argan-main.jpg);
	border-radius: 8px;
	box-shadow: rgb(226, 226, 226) 0px 4px 3px;
}

.argan-slider{
	background-image: url(images/argan-main.jpg);
}

.argan-image{
	background-image: url(images/argan-main-2.jpg);
}

.landing-slider{
	background-image: url(images/landing-main.jpg);
}

.landing-image{
	background-image: url(images/landing-main-2.jpg);
}

.left-image, .right-image{
	width:302px;
	height:258px;
	background-color: #777777;
	float:left;
	border-radius: 8px;
	box-shadow: rgb(226, 226, 226) 0px 4px 3px;
}

.left-image{
	margin-right: 16px;
}


.landing-left{
	background-image: url(images/landing-main-left.jpg);
}

.landing-right{
	background-image: url(images/landing-main-right.jpg);
}

.argan-left{
	background-image: url(images/argan-main-left.jpg);
}

.argan-right{
	background-image: url(images/argan-main-right.jpg);
}

.wrap-auto{
	margin: auto;
	width: 430px;
	position: relative;
	padding-top: 140px;
}

.wrap{
	width:620px;
	height:260px;
	margin:auto;
	padding-bottom: 20px;
}





.work{
	height:auto;
	background-color: #ededed;
	text-align: center;
}

.work-rows{
	width:100%;
}



.work-header{
	height:240px;
	background-repeat: no-repeat;
	background-size: cover;
}

.landing-header{
	background-image: url(images/landing-head.jpg);
}

.argan-header{
	background-image: url(images/argan-head.jpg);
}



.overlay{
	height:100%;
	width:100%;
	color:white;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	font-size: 45px;
	text-align: center;
	padding-top: 95px;
}

.argan-overlay{
	background-color: rgba(255, 170, 117, 0.8);
}

.landing-overlay{
	background-color: rgba(216, 111, 110, 0.8);
}


.intro{
	background-color: #7ec9ac;
	height:340px;
	min-width: 1050px;
	position: relative;
}


.intro-text{
	text-align: center;
	color: white;
	font-size: 55px;
	/* padding-top: 120px; */
	font-family: Haymaker, sans-serif;
	font-weight: 300;
	width: 425px;
	margin: auto;
	/* float: left; */
	line-height: 40px;
}

.josefin{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
}

.logo-image{
	float: left;
	width: 130px;
	padding: 120px 0 0 30px;
}

.skills{
	height:auto;
	background-color: #fb8d60;
	text-align: center;
}

.skills-title{
	margin: auto;
	padding: 44px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	color:white;
	font-size: 48px;
}




.row{
	min-width: 1050px;
	width:100%;
	margin: auto;
	height: 300px;
}

.row ul{
	display: block;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

.project{
	float: left;
	position: relative;
	height: 300px;
	min-width: 350px;
	width:33.33%;
	background-color:black;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}



.bottom{
	height: 48px;
	z-index: 40;
	bottom: 0;
	position: absolute;
	width: 100%;
	color:white;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	line-height: 50px;
}


.mask{
	-webkit-transform: translateY(300px);
	transition: all 0.3s ease-in-out;
	height: 300px;
	width: 100%;
	position: absolute;
}

.row-1 .project-1{
	background-image:url(images/landing-thumb.jpg);
	background-color: #d9544d;
}

.row-1 .project-1 .bottom{
	background-color: #D86F6E;
}

.row-1 .project-1 .mask{
	background-color: #D86F6E;
}


.row-1 .project-2{
	background-image:url(images/argan-thumb.jpg);
	background-color: #3d3630;	
}

.row-1 .project-2 .bottom{
	background-color: #FFB587;
}

.row-1 .project-2 .mask{
	background-color: #FFB587;
}


.row-1 .project-3{
	background-image:url(images/shopping-thumb.jpg);
	background-color: #9ab85e;
}

.row-1 .project-3 .bottom{
	background-color: #B4D089;
}

.row-1 .project-3 .mask{
	background-color: #B4D089;
}








.row-2 .project-1{
	background-image:url(images/api-thumb.jpg);
	background-color: #ff8901;
}

.row-2 .project-1 .bottom{
	background-color: #E1A25C;
}

.row-2 .project-1 .mask{
	background-color: #E1A25C;
}

.row-2 .project-2{
	background-image:url(images/rays-thumb.jpg);
	background-size: cover;
}

.row-2 .project-2 .bottom{
	background-color: #88C7C1;
}

.row-2 .project-2 .mask{
	background-color: #88C7C1;
}


.row-2 .project-3{
	background-image:url(images/globe-thumb.jpg);
	background-color: #d94231;
}

.row-2 .project-3 .bottom{
	background-color: #D56B66;
}

.row-2 .project-3 .mask{
	background-color: #D56B66;
}



.row-3 .project-1{
	background-image:url(images/quiz-thumb.jpg);
	background-color: #c9d16e;
}

.row-3 .project-1 .bottom{
	background-color: #D9DFA6;
}

.row-3 .project-1 .mask{
	background-color: #D9DFA6;
}







.foreground{
	background-image: url(images/css-skill.png),url(images/javascript-skill.png),url(images/html-skill.png);
	background-position: 50% 0px, 80% 50px, 25% 50px;
	height: 300px;
	background-repeat: no-repeat;
}


.background{
	background-image: url(images/circle-1.png),url(images/circle-2.png),url(images/circle-3.png);
	background-position: 5% 0px, 45% 150px, 95% 0px;
	height: 300px;
	background-repeat: no-repeat;
}


.project:hover .mask{
	-webkit-transform: translateY(0px);
}







@-webkit-keyframes cycle1 {
	 0% { opacity: 1; }
	 25% { opacity: 1; }
	 70% { opacity: 0; }
	100% { opacity: 0; }
}

@-webkit-keyframes cycle2 {
	0% { opacity: 0; }
	 15% { opacity: 0; }
	 25% { opacity: 1; }
	 50% { opacity: 1; }
	 75% { opacity: 0; }
	100% { opacity: 0; }
}

@-webkit-keyframes cycle3 {
 	 0% { opacity: 0; }
	 35% { opacity: 0; }
	 50% { opacity: 1; }
	 75% { opacity: 1; }
	 90% { opacity: 0; }
	100% { opacity: 0; }
}

@-webkit-keyframes cycle4 {
 	0% { opacity: 0; }
	 65% { opacity: 0; }
	 75% { opacity: 1; }
	100% { opacity: 1; }
}




.parallax-circle1 { 
	z-index: 50; 
	-webkit-animation: cycle1 2s linear infinite; 
}

.parallax-circle2 { 
	z-index: 40; 
	-webkit-animation: cycle2 2s linear infinite; 
}

.parallax-circle3 { 
	z-index: 30; 
	-webkit-animation: cycle3 2s linear infinite; 
}

.parallax-circle4 { 
	z-index: 20; 
	-webkit-animation: cycle4 2s linear infinite; 
}






.parallax-circles {
	position: absolute;
	top: 25px;
	left: 35px;
	width: 170px;
	height: 170px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	/*transition: opacity .2s;*/
}

.parallax-circle {
	display: block;
	width: 170px;
	height: 170px;
	position: absolute;
	top: 0;
	left: 0;
	list-style: none;
}




.icons{
	right: 0;
	position: absolute;
	height: 50px;
	bottom: 20px;
	
}

.icons img{
	width: 40px;
}

.icons ul{
	width: 275px;
	margin:0;
}

.icons ul li{
	display: inline-block;
	width: 60px;
	height: 50px;
}

img.icon-action{
	width:95px;
	display: none;
}

