@font-face{
	font-family: haymaker;
	src: url(Haymaker.ttf);
}

body{
	margin:auto;
	width:100%;
}


body::before {
	display:none;
}

.main{
	width:100%;
}















/* Top right icons */

.icon-action{
	top: 35px;
	position: absolute;
}


.resume-on{
	left: 7px;
}

.mail-on{
	left: 79px;
}

.linkedin-on{
	left: 148px;
}


.icons{
	height:100%;
}







.intro{
	/*background-color: #7ec9ac;*/
	height:340px;
	/*min-width: 1050px;*/
	position: relative;
}


.intro-text{
	text-align: center;
	color: black;
	font-size: 55px;
	padding-top: 150px;
	font-family: Haymaker, sans-serif;
	font-weight: 300;
	width: 100%;
	margin: auto;
	/* float: left; */
	line-height: 40px;
}

.josefin{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
}



















.icons{
	right: 0px;
	position: absolute;
	height: 50px;
	top: 20px;
	
}

.icons img{
	width: 30px;
}

.icons ul{
	width: 250px;
	margin:0;
}

.icons ul li{
	display: inline-block;
	width: 65px;
	height: 50px;
}

img.icon-action{
	width: 90px;
	height: 75px;
	display: none;
}


.icon-still{
	text-decoration: none;
}


.icons a:hover{
	text-decoration: none;
}


section.gallery.container{
	margin-bottom: 30px;
}




/*shuffle categories*/


.row{
	/*min-width: 1050px;*/
	width:100%;
	margin: auto;
	height: 30px;
}

#shuffle-cat ul{
	list-style: none;
}

#shuffle-cat ul li{
	display:inline-block;
}


.filter-opt{
	float:left;
	padding-right: 15px;
	padding-left:15px;
	font-size: 13px;
	border-right: black 1px solid;
	cursor: pointer;
	color: rgb(190, 190, 190);
}

.filter-opt:hover{
	color:black;
}

.first{
	padding-left: 0;
}

.last{
	border:none;
}

.span6{
	width:100%;
	margin-left: 0;
}









@media (max-width: 50em){

.container {
	width:650px;
}

img{
	width:100%;
}

.span3{
	width:100%;
}

}



@media (max-width: 45em){

.container {
	width:510px;
}

img{
	width:100%;
}

.span3{
	width:100%;
}

}


@media (max-width: 40em){

.container {
	width:400px;
}

img{
	width:100%;
}

.span3{
	width:100%;
}

.filter-opt{
	font-size:11px;
}

}
